
/* .parking-spot-count-single {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.parking-spot-count-double {
  
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 40px;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
} */


h1 {
    font-weight: 800 !important;
}

h2 {
    font-weight: 700 !important;
}

.navbar a {
    font-weight: 700;
}

.li {
    float: left;
}

.a {
    display: block;
}


*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}

.map-bg {
    background-image:url("Images/parkeringsyd.png");
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .map-bg {
        height: 300px  !important;
    }
}

.container {
    padding: 0px 30px !important;
    max-width: 1000px !important;
}


.prim-color {
    color: #fff387 !important;
}

.navbar-nav .prim-color:hover {
    color: white !important;
}


.nav-link {
    padding: 0px;
}



@media (min-width: 768px) {
.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .nav-item:after {
    margin-left: 10px;
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #fff387;
    transition: width .3s;
}

.navbar-toggler-icon {
    filter: invert(1) !important;
}

.navbar-nav .nav-item:last-of-type::after {
    display: none;
}

}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
        position: relative;
        top: -20px;
		opacity: 0;
	}
	100% {
        position: relative;
        top: 0px;
		opacity: 1;
	}
}

body {
    background-image: url('/Images/bg.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0; 
}

    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(0px);
        background: linear-gradient( to bottom, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95) );
        z-index: -1;
        pointer-events: none;
    }
